#formulario{
    position: relative;
    margin-left: 250px;
    
    width: 50%;
    padding: 18px 6% 60px 6%;
    
    background-color: rgba(216, 229, 240, 0.3);
    border: 1px solid rgba(147, 184, 189, 0.8);
}
